body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.unauthorized {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

::placeholder {
  color: rgb(0, 0, 0) !important;
  padding: '5px 10px';
}

.card-box {
  min-width: 150px;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 5px 5px 6px #dad3d1, -5px -5px 6px #ffffff;
}

.css-1anqmj6-MuiPopper-root-MuiPickersPopper-root {
  margin-left: 25px !important;
  overflow-x: auto;
  overflow-y: hidden;
  height: 290px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.css-14d6vet-MuiCardContent-root:last-child {
  padding-bottom: 0px !important;
}
